<!DOCTYPE html>
   <head>
      <title>Web Camera</title>
      <link rel="stylesheet" href="../static/hornetstyle.css/">
   </head>
   <body>
      <h3>
      <h1>{{ title }} Web Camera</h1>
         <a>{{ csus }} "{{saying }}!"</a>
      </h3>
   <br>
      <h2>The date and time on the server is: {{ time }}</h2>
   <br>
      camera to be added soon
   <br>
   <br>
   <br>
   Menu
      <h3>
      <a href="/home" class="link">HOME</a>  
      </h3>
      <h3>
      <a href="/" class="link">Log out</a>  
      </h3>

   </body>
</html>
