<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/hornetstyle.css/">
   </head>
   <body>
      <h3>
      <h1>Hello, {{ greeting }}!</h1>
      <a>{{ csus }} "{{ saying }}!"</a>
      </h3>
   <br>
      <h3> 
      <h2>Today is: {{ date }}</h2>
      <h2>The time is: {{ time }}</h2>
      <h3>We are OPEN, Please ENTER! {{ operat }}</h3>
      <h2>Available Parking on LEVEL1 {{ l1count }} {{ l1full }}</h2>
      <h2>Available Parking on LEVEL2 {{ l2count }} {{ l2full }}</h2>
      </h3>
      <br>
   camera to be added soon
      <br>
      <br>
      Menu 
      <h3> 
      <a href="/login" class="link">Log in</a>  
      </h3>

   </body>
</html>
